<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096670365586-8lknlkhskqhrdlk4m3kruqbeca616dmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096670365586-8lknlkhskqhrdlk4m3kruqbeca616dmq</string>
	<key>API_KEY</key>
	<string>AIzaSyDFlewoRANy6SW_x0SuWbGRjVCZ91gOOP4</string>
	<key>GCM_SENDER_ID</key>
	<string>1096670365586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valterandremachado.GuideTech</string>
	<key>PROJECT_ID</key>
	<string>guidetech101</string>
	<key>STORAGE_BUCKET</key>
	<string>guidetech101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096670365586:ios:a1224023629029da47a34b</string>
	<key>DATABASE_URL</key>
	<string>https://guidetech101.firebaseio.com</string>
</dict>
</plist>